@{
  ViewData["Title"] = "Chọn triệu chứng";
}
<form action="/TrieuChung/LietKeCongNhan" method="POST">
  <label for="SoTrieuChung">Số triệu chứng</label>
  <input type="number" name="SoTrieuChung" id="SoTrieuChung" />
  <input type="submit" value="Liệt kê" />
</form>